<!--The content below is only a placeholder and can be replaced.-->
<nz-layout style="height: 100vh">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="width" [nzReverseArrow]="isReverseArrow">
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu *ngFor="let menu of menus">
        <span title>
          <i nz-icon type="read"></i>
          <span class="nav-text">{{menu?.title}}</span></span>
        <ul>
          <li nz-menu-item *ngFor="let m of menu?.submenu">{{m?.title}}</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout style="height: 100vh">
    <nz-content style="margin:16px;background: #fff;">
      <div>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
